.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid orangered;
}

.logo{
width: 200px;
}

.cart{
    width: 50px;
}

.nav-items{
padding: 0px 20px;
}

.nav-items > ul{
display: flex;
font-size: 24px;
list-style: none;
}

.nav-items > ul >li{
    padding: 10px;
    margin: 10px;
    
}

.search{
    padding: 10px;
}

.body{
    padding-top: 5px;
}

.res-card{
    padding: 5px;
    width: 200px;
    background-color: lightgray;
    margin :10 px;
    
    
}

.res-logo{
width: 80%;
height: 35%;
margin-left: 20px;
}

.res-card:hover{
    cursor: pointer;
    border: 1px black solid;
}

.search:hover{
    cursor: zoom-in;
    border: 1px black solid;
    border-radius: 11px;
    cursor: pointer;
}

.res-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap : 20px;
padding: 0 15px;
}

.shimmer-container{
display: flex;
flex-wrap: wrap;
}

.shimmer-container{
      padding: 5px;
    width: 200px;
    background-color: lightgray;
    margin :10 px;
}

.login-btn{
    padding: 0px 20px;
    cursor:pointer;
    background-color: orange;
    padding: 7px 15px;
    border: 0;
    outline: 0;
    border-radius: 5px;
}
.usercard{
    padding: 10px;
    border: 1px solid black;
}